# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Temporary files & Logs
*.log
*.tmp
*.bak
.system_generated/
scratch/

# IDE files
.vscode/
.idea/
*.sublime-workspace
# Raw assets in root
/*.mp4
/*.mov

# Queue storage (tiket antrean & rendered video)
storage/
